

li {
    padding: 5px;
    margin: 5px;
    width: 150px;
    background: cornsilk;
    border-radius: 25px;
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  html {
    background: url("../img/burger.png") no-repeat center fixed; 
    background-size: cover;
    color: brown;
  }

  h1, h2 {
text-align: ceter;
    padding: 5px;
    margin: 5px;
    width: 200px;
    /* background: cornsilk; */
    color: darkred;
  }